<div class="main text-white pt-3 pb-3">
    <div class="container">
        <h1 class="text-uppercase text-center">about</h1>
        <div class="d-flex justify-content-center align-items-center mt-3">
            <div class="line">

            </div>
            <i class="fa-solid fa-star text-dark ms-3 me-3 text-white"></i>
            <div class="line">
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <p class="w-50  ps-5 pe-5">Freelancer is a free bootstrap theme created by Route. The download includes
                the
                complete
                source files
                including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            <p class="w-50 ps-5 pe-5">You can create your own custom avatar for the masthead, change the icon in the
                dividers,
                and add
                your email
                address to the contact form to make it fully functional!</p>
        </div>
    </div>

</div>