<div class="main text-dark pt-3 pb-3">
    <div class="container">
        <h1 class="text-uppercase text-center">contact me</h1>
        <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
            <div class="line bg-dark">
            </div>
            <i class="fa-solid fa-star text-dark ms-3 me-3 text-dark"></i>
            <div class="line  bg-dark">
            </div>
        </div>
        <div class="inputs m-auto text-left w-50">
            <input type="text" name="" id="" class="w-100 mb-3 ps-3" placeholder="name">
            <input type="email" name="" id="" class="w-100 mb-3 ps-3" placeholder="phone">
            <input type="number" name="" id="" class="w-100 mb-3 ps-3" placeholder="email">
            <textarea name="" id="" cols="30" rows="10" class="w-100 mb-3 ps-3" placeholder="message"></textarea>
            <input type="button" value="SEND" class="btn btn-success ps-3 pe-3 ps-3">
        </div>
    </div>
</div>