<div class="main text-white pt-5 pb-5">
    <div class="container d-flex justify-content-center align-items-center flex-column">

        <h1 class="text-uppercase text-dark text-center">portfolio</h1>
        <div class="d-flex justify-content-center align-items-center mt-3">
            <div class=" line">

            </div>
            <i class="fa-solid fa-star text-dark ms-3 me-3"></i>
            <div class="line">
            </div>
        </div>
        <div class="row gy-3 pt-3">
            <div class=" col-lg-4  col-sm-12">
                <div class="card">
                    <img src="../../assets/cabin.png" class="card-img-top" alt="...">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center p-5">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>


                </div>

            </div>
            <div class=" col-lg-4  col-sm-12">
                <div class="card">
                    <img src="../../assets/cake.png" class="card-img-top" alt="...">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center p-5">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>


                </div>

            </div>
            <div class=" col-lg-4  col-sm-12">
                <div class="card">
                    <img src="../../assets/circus.png" class="card-img-top" alt="...">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center p-5">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>


                </div>

            </div>
            <div class=" col-lg-4  col-sm-12">
                <div class="card">
                    <img src="../../assets/submarine.png" class="card-img-top" alt="...">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center p-5">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>


                </div>

            </div>
            <div class=" col-lg-4  col-sm-12">
                <div class="card">
                    <img src="../../assets/game.png" class="card-img-top" alt="...">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center p-5">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>


                </div>

            </div>
            <div class=" col-lg-4  col-sm-12">
                <div class="card">
                    <img src="../../assets/safe.png" class="card-img-top" alt="...">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center p-5">
                        <i class="fa-solid fa-plus text-white"></i>
                    </div>


                </div>

            </div>

        </div>
    </div>

</div>