<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
  <div class="container">
    <a routerLink="/start" routerLinkActive="active" class="navbar-brand text-uppercase text-light">start
      angular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/portfolio" routerLinkActive="active" class="nav-link active text-uppercase text-light"
            aria-current="page" href="#">portfolio</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" routerLinkActive="active" class="nav-link text-uppercase text-light"
            href="#">contact</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" routerLinkActive="active" class="nav-link text-uppercase text-light" href="#"
            tabindex="-1" aria-disabled="true">about</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="footer pt-5 pb-5 text-white">
  <div class="row w-50 m-auto">
    <div class="col-lg-4">
      <div class="loc d-flex align-items-center flex-column">
        <h4>location</h4>
        <p>2215 John Daniel Drive<br>
          Clark, MO 65243</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="social d-flex align-items-center flex-column">
        <h4>AROUND THE WEB</h4>
        <div class="icons w-100 d-flex justify-content-evenly">
          <div>
            <i class="fa-brands fa-facebook-f"></i>
          </div>
          <div>
            <i class="fa-brands fa-google-plus-g"></i>
          </div>
          <div>
            <i class="fa-brands fa-linkedin"></i>
          </div>
          <div>
            <i class="fa-brands fa-twitter"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="freelance d-flex align-items-center flex-column">
        <h4>ABOUT FREELANCER</h4>
        <p>Freelance is a free to use,<br> MIT licensed Bootstrap theme created by Route</p>
      </div>

    </div>

  </div>

</div>